/* Importation de la police Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  margin:0;
  padding:0;
}

body {
  background-color: #222126;
  color:white;
}

header {
  display: flex;
  align-items: center;
  background-color: #3F3F3F;
  height: 7dvh;
  font-size: 1.5em;
}

header i:first-child {
  margin:0 10px;
}

header i:last-child  {
  display: flex;
  align-items:center;
  height: 100%;
  margin-left: auto;
  text-align: center;
  background-color: #575757;
  color: white;
  padding: 0 3.5dvw;
}

main {
  display: flex;
}

.favorite-content {
  width: 15dvw;
  height: calc(100dvh - 7dvh);
  background-color: #121010;
}

hr {
  border: #3E3A2E solid 2px;

}

li {
  list-style: none;
}

.search-content {
  background-image: url('images/patern.png');
  background-repeat: repeat;
  width: calc(100dvw - 15dvw - 2px);

}

.search-box {
  background-color: #333333;
  border: #4D4D4D solid 5px;
  border-radius: 15px;
  margin:25px 30px;
  width: calc(100dvw - 15dvw - 162px);
  height: 10dvh;
}

.search-interface-input {
  display: flex;
  height: 10dvh;
  align-items: center;
}

.search-body {
  color: #E59345;
  display: flex;
  flex-direction: column;
  height: 10dvh;
  font-size: 1.3em;
}

.search-body input {
  padding-left: 5px;
  border:none;
  border-radius: 10px;
  outline:none;
  background-color: #333333;
  color: white;
  font-size: 1.3em;
  width: calc(100dvw - 25dvw - 162px);
}

.search-body hr {
  border-color: #E59345;
}

.search-body p {
  padding: 5px 10px;
}

.search-btn {
  background-color: #D46443;
  font-size: 1.2em;
  color: white;
  width: 10dvw;
  height: 10dvh;
  border:none;
  border-radius: 10px;
  cursor: pointer;

}

.search-interface-input i {
  margin:0 10px;
  font-size: 1.5em;
  transform: rotate(45deg);
  cursor: pointer;
}

